<!DOCTYPE html>
<html>
	<head>
		<title>Welcome Page</title>
	</head>
		<body>

			<div id="maincontent">
				<center><h1>Welcome</h1>
				<hr color="#FFCC00" width="50%" size="7">

				<br>

				<p>Where Akward And Funny Meet!<br>
				Post and Share with friends!
				<br> Sign Up or Sign In To Join The Fun!</p>
				</center>
			</div>
		</body>
</html>